* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: Verdana;
  transition: all 0.2s; }

.bottom {
  padding-top: 40px;
  -webkit-box-shadow: 3px 3px 20px 0 rgba(222, 222, 222, 0.69);
  -moz-box-shadow: 3px 3px 20px 0 rgba(222, 222, 222, 0.69);
  box-shadow: 3px 3px 20px 0 rgba(222, 222, 222, 0.69); }
  .bottom p {
    font-size: 16px;
    width: 100%;
    text-align: center; }
  .bottom #callback {
    padding: 30px 50px 30px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .bottom #callback .first_block {
      width: 23%; }
      .bottom #callback .first_block #firstchild {
        margin-bottom: 10px; }
    .bottom #callback input, .bottom #callback textarea {
      border-radius: 10px;
      padding: 0px 10px;
      -webkit-box-shadow: 3px 3px 7px 0px rgba(174, 174, 174, 0.23);
      -moz-box-shadow: 3px 3px 7px 0px rgba(174, 174, 174, 0.23);
      box-shadow: 3px 3px 7px 0px rgba(174, 174, 174, 0.23); }
    .bottom #callback input[type="text"]:focus, .bottom #callback textarea[type="text"]:focus, .bottom #callback input[type="email"]:focus, .bottom #callback textarea[type="email"]:focus, .bottom #callback textarea:focus {
      border-color: black; }
    .bottom #callback input[type="text"], .bottom #callback textarea[type="text"], .bottom #callback input[type="email"], .bottom #callback textarea[type="email"] {
      width: 100%;
      border: none;
      border-bottom: 2px solid #a7a7a7;
      border-radius: 0px;
      height: 28px; }
    .bottom #callback input, .bottom #callback textarea, .bottom #callback textarea {
      display: flex;
      justify-content: space-between; }
    .bottom #callback textarea {
      width: 55%;
      vertical-align: middle;
      border: none;
      border-bottom: 2px solid #a7a7a7;
      border-radius: 0px; }
    .bottom #callback textarea::-moz-placeholder, .bottom #callback textarea::-webkit-input-placeholder, .bottom #callback textarea:-ms-input-placeholder {
      line-height: 800px; }
    .bottom #callback input[type="submit"], .bottom #callback textarea[type="submit"] {
      background: url("../../../../assets/images/email.png") #FFF no-repeat right;
      background-repeat: no-repeat;
      background-size: cover;
      color: transparent;
      display: block;
      height: 66px;
      border: none;
      width: 80px;
      -webkit-box-shadow: 3px 3px 7px 0px rgba(174, 174, 174, 0.23);
      -moz-box-shadow: 3px 3px 7px 0px rgba(174, 174, 174, 0.23);
      box-shadow: 3px 3px 7px 0px rgba(174, 174, 174, 0.23); }
    .bottom #callback input[type="submit"]:hover, .bottom #callback textarea[type="submit"]:hover {
      transform: scale(1.15);
      cursor: pointer; }
  .bottom footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px 10px 60px; }
    .bottom footer .logo img {
      width: 140px; }
    .bottom footer .logo img:hover {
      cursor: pointer;
      transform: scale(1.15); }
    .bottom footer .follow {
      width: 15%;
      display: flex;
      justify-content: space-between; }
      .bottom footer .follow h5 {
        padding-right: 27px;
        line-height: 3;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 10px; }
      .bottom footer .follow img {
        width: 26px;
        border-radius: 8px; }
      .bottom footer .follow img:hover {
        transform: scale(1.2);
        cursor: pointer; }

/*# sourceMappingURL=callback.component.css.map */
