<div class="bottom">
  <p>Напишіть нам!</p>
  <form id="callback" #form="ngForm" action="" (ngSubmit)="saveData(form.value)">
    <div class="first_block">
      <input id="firstchild"  type="text" name="name" [(ngModel)]="name" required placeholder="Ім'я Прізвище" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ім\'я Прізвище'" maxlength="30">
      <input  type="email" name="email" [(ngModel)]="email" required placeholder="Пошта" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Пошта'" maxlength="30">
    </div>
    <textarea name="message" cols="10" rows="4" [(ngModel)]="message" required placeholder="Ваше повідомлення..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше повідомлення...'" maxlength="1000"></textarea>
    <input value="&#9993;"  type="submit" name="submit"  [disabled]="!form.valid">
  </form>
  <footer>
    <div class="logo">
      <a href="/main/"><img src="assets/images/logo.jpg" alt="logo"></a>
    </div>
    <div class="follow">
      <h5>Шукайте наc тут</h5>
      <a href=""><img src="assets/images/insta2.png" alt="instagram"></a>
      <a href=""><img src="assets/images/fb2.png" alt="facebook"></a>
      <a href=""><img src="assets/images/vk2.png" alt="vk"></a>
    </div>
  </footer>
</div>
