<div class="menu">
  <a href="/main/"><img src="assets/images/logo.jpg" alt="logo"></a>
  <nav>
    <a [routerLink]="['/catalog']">каталог</a>
    <a [routerLink]="['/info/']">чому натуральна косметика?</a>
    <a [routerLink]="['/ingradient/']">інградієнти</a>
    <a href="#callback">зв'язатися</a>
  </nav>
  <a (click)="openOrder()">
    <button class="backet">
      <img src="assets/images/cart.jpg" alt="cart">
      <span id="count"> {{orderService.order.products.length}}</span>
    </button>
    <label>Товарів у вашій корзині: {{orderService.order.products.length}}</label>
  </a>
  <app-order (close)="openOrder()" [ngStyle]="{'display': visibility? 'block' : 'none'}"></app-order>

</div>


