<div class="main">
  <section class="first">
    <p>

    </p>
  </section>
  <section class="second">

  </section>
  <section id="block" class="third">
    <div class="icons">
      <div class="icon">
        <p>&#10051;</p>
        <h4>Без жорстких ПАВ</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>Без силіконів</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>Без барвників</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>Без ароматизаторів</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>Не тестувався на тваринах</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>Зроблено в Україні</h4>
      </div>
    </div>
  </section>

</div>

<script>
  var wi=1;
  document.onmousemove = start
  function start() {
    move();
    function move() {
      if(window.event.x!=document.getElementById("block").style.left) {
        wi++;
        document.getElementById("block").style.left =wi;
        setTimeout(move, 1);
      }
    }
  }
</script>
